:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  text-align: left;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.hero {
  max-width: 25vw;
  max-width: 530px;
}

.hero img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: auto;
}

form label {
  font-size: 18px;
  padding: 7px 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  font-size: 1em;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

form input:focus {
  border: 2px solid blue;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

form input[type="submit"] {
  width: 100%;
  background-color: #264bd0;
  color: white;
  padding: 14px 20px;
  margin-top: 10px;
  margin-left: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

form input[type="submit"]:hover {
  background-color: #20aae9;
}

form .terms {
  font-size: 0.8em;
}

.credit {
  font-size: 0.7em;
  margin-left:40px;
  color:grey;
  text-decoration: none;
}
